<ons-page style="background-color: white">

	<ul class="topcoat-list">

		<ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_accueil.html')">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Accueil
		</ons-list-item>

        <ons-list-item class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('navigator_equipe.html')">
            <i class="fa fa-check fa-lg" style="color: #666"></i>
            &nbsp; Mon equipe
        </ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_combattre.html')">
			<i class="fa fa-play fa-lg" style="color: #666"></i>
			&nbsp; Combattre
		</ons-list-item>

        <ons-list-item 
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('navigator_pokedex.html')">
            <i class="fa fa-list fa-lg" style="color: #666"></i>
            &nbsp; Pokedex
        </ons-list-item>

        <ons-list-item 
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('navigator_favori.html')">
            <i class="fa fa-star fa-lg" style="color: #666"></i>
            &nbsp; Pokemon favori
        </ons-list-item>

        <ons-list-item 
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('navigator_parametre.html')">
            <i class="fa fa-wrench fa-lg" style="color: #666"></i>
            &nbsp; Parametre
        </ons-list-item>

	</ul>

</ons-page>